<%- model_class = Slider -%>
<div class="page-header">
  <h1>Редактирование изображения</h1>
  <p>Рекомендуется загружать картинку размером 800х356 пикселей.</p>
</div>
<%= render :partial => 'form' %>
